@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

:root {
  --color-primary: #3b82f6;
  --color-primary-light: #60a5fa;
  --color-accent: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}
